<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div id="container">
    <ion-text color="dark">
      <h1>Sales Partnership</h1>
      <p>PT. Victoria Care Indonesia Tbk.</p>
    </ion-text>
  </div>
  

</ion-content>

<ion-footer class="ion-no-border" style="background-color: transparent;">
  <div class="ion-padding">
    <ion-button (click)="getStarted()" color="dark" expand="block">
      Get Started
    </ion-button>
  </div>
</ion-footer>